<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>printArray([
	&quot;Hello there!&quot;,
	&quot;Welcome to Code this App.&quot;,
	&quot;What&apos;s your name?&quot;,
], function() {
	readline(&quot;Enter your name&quot;, function(name) {
		console.log(&quot;Nice to meet you, &quot; + name + &quot;!&quot;)
		console.log(`Try typing &apos;console.log(${name})&apos;`)
	})
});
</string>
		<key>name</key>
		<string>Introduction</string>
	</dict>
	<dict>
		<key>code</key>
		<string>console.log(new Date().getTime())</string>
		<key>name</key>
		<string>Introduction</string>
	</dict>
</array>
</plist>
